# Node modules
node_modules/

# Nuxt build & output
.nuxt/
.output/
dist/

# Logs
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# Environment variables
.env
.env.local
.env.*.local

# Test coverage & cache
coverage/
.vitest/
test-results/
*.lcov

# IDE / Editor files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sw?
*.code-workspace

# OS files
.DS_Store
Thumbs.db
Desktop.ini

# Temporary files
*.tmp
*.temp
